<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div class="greeting">    
          <h1>THE 100 DAYS CHALLENGE<br />ABOUT USERS</h1>
          <p id="p_first">
            The 100 Days Challenge About Users is a self-challenge that I created to enhance my own UX and Web Design skills.
          </p>
          <p>
            My name is Roberto Pesce, I am an UX Designer, and during 100 days I will be posting one article, every day, talking about my discoveries in UX.
          </p>
          <p>
            I'll be publishing the articles both here and on my Medium account, and will be curating relevant content and sharing it on Facebook.
          </p>
          <p id="p_last">
            Come along with me in this challenge! You can read the articles, follow the challenge on Facebook, follow me on Medium, and also use the hashtag #100DaysAboutUsers every time you share any UX content. This way we'll be spreading UX and learning together!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7NHiyJ_GYss" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="blue_bgd">
        <div id="circle"></div>
        <% init_date_time = DateTime.parse("2016-09-20 00:01:00") %> <!-- Initial date -->
        <% now_date_time = DateTime.now.to_date %> <!-- Today's date -->
        <% day_today = (now_date_time.to_date - init_date_time.to_date + 1).to_i %> <!-- Days gone so far -->
        <p>This is day <span id="today"><%= day_today %></span> out of 100</p>
        
        <div id="nshow"> <!--This will only appear for md to large screens -->
          <p><span class="numbers">3 </span>Books read |<span class="numbers"> 3 </span>Influencers interviewed | <span class="numbers"><%= (day_today * 4) %> </span>Articles read | <span class="numbers"><%= Article.count %> </span>Articles written</p>
        </div>
      
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="articles_list">
        <h2>ALL ARTICLES</h2>
        <div id="listing_articles">
          <%= render @articles %>
        </div>
      </div>
    </div>
  </div>
  
  <div align="center" id="infinite-scrolling">
    <%= will_paginate @articles %>
  </div>

</div>