<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About the project and the author</h4>
      </div>
      <div class="modal-body">
        <h3>The challenge</h3>
        <p>The 100 Days Challenge About Users is a self-challenge developed by Roberto Pesce to enhance his UX design and web design skills, consisting in two moments: <br />

        Create the assets from scratch: <br />
        - About Users brand <br />
        - UX project <br />
        - Backend development <br />
        - Frontend development <br />
        
        <br />
        Do the following activities during 100 days in a row:<br />
        - Curate UX content<br />
        - Share relevant content on Facebook<br />
        - Post one article every day

        <h3>The author</h3>
        <p>Roberto Pesce is a brazilian UX Designer with background in business, project management and design. He lives in San Diego, California, and works as UX Designer freelancer, helping companies and entreperneurs on identifying and solving design problems.
        <br />
        <br /><a href="https://www.linkedin.com/in/roberto-pesce-jr-00746249" target="_blank">Check Roberto's LinkedIn profile</a>
        <br /><a href="https://www.behance.net/robertopesce" target="_blank">Check Roberto's online portfolio</a>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('main_logo.png', :class => "navbar-brand"), root_path %>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Read on Medium", "https://www.medium.com/@robertopesce", target: "_blank" %></li>
        <li><%= link_to "Go to Facebook", "http://www.facebook.com/aboutusersux", target: "_blank" %></li>
        <li>
        <!-- Button trigger modal -->
        <a data-toggle="modal" data-target="#myModal" href="#">
          About
        </a>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span>
              <ul class="dropdown-menu">
                <li><%= link_to 'New article', new_article_path %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


